:root {
    --Main-yellow: #fef849;
    --sec-color: #7DBAF7;
    --bg: #222;
    --font: "Edu AU VIC WA NT Hand", cursive;
}

::-webkit-scrollbar {
    background-color: var(--bg);
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--Main-yellow);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg.jpg);
}

.text-yellow {
    color: var(--Main-yellow) !important;
}

.text-sec-color {
    color: var(--sec-color) !important;
}

.fonts {
    font-family: var(--font) !important;
}

.logo {
    width: 75px;
    height: 70px;
}

.nav-color {
    background-color: var(--bg);
}

.center-ul li a {
    color: var(--Main-yellow);
    font-family: var(--font);
    font-weight: 500;
    position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.center-ul li a:hover {
    color: #fef84990 !important;
}

.center-ul li a::after {
    position: absolute;
    content: "";
    bottom: 3px;
    left: -120px;
    width: 100%;
    height: 3px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    background-color: white;
}

.center-ul li a:hover::after {
    left: 0px;
}

.welcome {
    color: var(--Main-yellow) !important;
    font-family: var(--font);
}

.full-star,.half-star,.empty-star{
    color: var(--Main-yellow)!important;
}

.cart{
    background-color: transparent!important;
    color: var(--Main-yellow);
    border: 1px solid var(--Main-yellow);
    padding: 5px 7px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.cart:hover{
    background-color: transparent!important;
    color: white;
    border: 1px solid white;
}

.fav{
    background-color: transparent!important;
    color: red;
    border: 1px solid red;
    padding: 5px 7px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.fav:hover{
    background-color: red!important;
    color: white;
    border: 1px solid red;
}

.eye{
    background-color: transparent!important;
    color: gray;
    border: 1px solid gray;
    padding: 5px 7px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.eye:hover{
    background-color: transparent!important;
    color: white;
    border: 1px solid gray;
    padding: 5px 7px;
}

footer {
    background: var(--bg) !important;
}

@media screen and (max-width: 340px) {
    .navbar-toggler {
        background-color: white !important;
    }

    .center-ul li a::after {
        display: none;
    }
    .mazen{
        font-size: small;
    }
}

@media screen and (max-width: 391px) {
    .navbar-toggler {
        background-color: white !important;
    }

    .center-ul li a::after {
        display: none;
    }
    .mazen{
        font-size: small;
    }
}

@media screen and (max-width: 431px) {
    .navbar-toggler {
        background-color: white !important;
    }

    .center-ul li a::after {
        display: none;
    }
    .mazen{
        font-size: small;
    }
}